body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    height: 60px;
    background-color: paleturquoise;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 25px;
    padding-left: 5%;
    font-size: 18px;
}

#countdown{
    position: relative;
    float: right;
    right: 200px;
    top: -60px;
    font-style: italic;
}

wrapper{
    position: relative;
    top: 60px;
    margin: 0 auto;
    
}

h1{
    font-size: 30px;
    text-align: center;
}


/* first displayed*/
#start-page{
text-align: center;
padding-left: 20%;
padding-right: 20%;
display: block;
}

/* second displayed (after triggered by start)*/
#question-one{
    display: none;
}

#question-two{
    display: none;
}

#question-three{
    display: none;
}

#question-four{
    display: none;
}

#question-five{
    display: none;
}

#question-text{
    font-size: 25px;
}


button {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin-left: 30%;
    margin-right: 30%;
    background-color:lightblue ;
    border-radius: 6px;
    border-left: 2px solid rgb(1, 95, 95);
    border-top: 2px solid rgb(1, 95, 95);
    display: inline-block;
}
button:hover{
    background-color:rgb(125, 202, 228) ;
}

.q-buttons{
    padding: 5px;
    margin-top: 15px;
}

#notification{
    border-top: 2px solid darkgrey;
    text-align: center;
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 10px;
    color: darkgrey;
    display: none;
}


/* third displayed (after time runs out or game's completed) */
.complete-page{
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
    display: none;
}

#name-input{
    width: 40%;
}

#submit{
    float: right;
    margin: 0px;
    position: relative;
    top: -3px;
    left: -150px;
    padding: 2px;
}


/* last displayed (after name is submitted) */
.high-scores{
    display: none;
}

ul{
    background-color: lightcyan;
    padding: 100px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;

}

li{
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

